            <div class="ui segment">
                <h2 class="ui header">All Requests</h2>
                <p>Here is the list of every request from all users.</p>
                <table class="ui celled single line compact table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th></th>
                            <th>Added On</th>
                            <th>Title / Description</th>
                            <th>Quality</th>
                            <th>Link</th>
                            <th>Requester</th>
                            <th>Points</th>
                            <th>Filler</th>
                            <th>Filled On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.requests}}
                        <tr>
                            <td>{{ID}}</td>
                            <td class="{{#if Filled}}positive{{else}}negative{{/if}} center aligned collapsing"><i class="icon {{icon Category}}"></i></td>
                            <td>{{AddedOn}}</td>
                            <td><div>{{Title}}</div><div>{{Description}}</div></td>
                            <td>{{#each Quality}}<div class="ui label">{{quality Category this}}</div>{{/each}}</td>
                            <td><a target="_blank" href="{{Link}}">{{domain Link}}</a> <i class="external alternate icon"></i></td>
                            <td>{{name Owner}}</td>
                            <td><div class="ui label"><i class="arrows alternate vertical icon"></i><span>{{Points}}</span></div></td>
                            <td>{{name Filler}}</td>
                            <td>{{FilledOn}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            table.table tbody tr td:nth-child(2) i.icon {
                font-size: 2em;
            }
        </style>
    </body>
</html>
