            <div class="ui segment">
                <h2 class="ui header">Leaderboard</h2>
                <p>The top 25 users who have filled requests.</p>
                <table class="ui celled single line table">
                    <thead>
                        <tr>
                            <th data-sort-method="number">ID</th>
                            <th data-sort-method="none"></th>
                            <th>Name</th>
                            <th data-sort-method="number" data-sort-default="">Fills</th>
                            <th data-sort-method="number">Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.users}}
                        <tr class="user">
                            <td class="collapsing">{{U.ID}}</td>
                            <td class="collapsing"><img class="logo" src="https://cdn.discordapp.com/avatars/{{U.Snowflake}}/{{U.Avatar}}.jpg"></td>
                            <td>{{U.RealName}}</td>
                            <td><a href="./requests?filler={{U.ID}}">{{Fills}} <i class="ui external link icon"></i></a></td>
                            <td><a href="./requests?owner={{U.ID}}">{{Requests}} <i class="ui external link icon"></i></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            table.table tbody tr td:nth-child(2) { padding: 0; }
            table.table tbody tr td:nth-child(2) img { display: block; max-height: 42px; margin: auto; }
        </style>
        <script>
            (function() {
                $(document).ready(function() {
                    new Tablesort(document.querySelector("table"), {
                        descending: true,
                    })
                });
            })();
        </script>
    </body>
</html>
