            <div class="ui segment">
                <h2 class="ui header">Leaderboard</h2>
                <table class="ui celled single line table">
                    <thead>
                        <tr>
                            <th data-sort-method="number">ID</th>
                            <th data-sort-method="none"></th>
                            <th>Name</th>
                            <th data-sort-method="number" data-sort-default="">Fills</th>
                            <th data-sort-method="number">Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.users}}
                        <tr class="user">
                            <td class="a collapsing">{{U.ID}}</td>
                            <td class="b collapsing"><img class="logo" src="https://cdn.discordapp.com/avatars/{{U.Snowflake}}/{{U.Avatar}}.jpg"></td>
                            <td class="c">{{U.RealName}}</td>
                            <td class="d"><a href="./requests?filler={{U.ID}}">{{Fills}}</a></td>
                            <td class="d"><a href="./requests?owner={{U.ID}}">{{Requests}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            .ui.table > tbody > tr > td { padding: 0 .75em; }
            .table tr td.b { padding: 0; }
            .table tr td.b img { display: block; max-height: 42px; margin: auto; }
            .table tr td.d a { background-color: #dedede; padding: .5em; border-radius: .25em; }
        </style>
        <script>
            (function() {
                $(document).ready(function() {
                    new Tablesort(document.querySelector("table"), {
                        descending: true,
                    })
                });
            })();
        </script>
    </body>
</html>
