            <div class="ui segment">
                <h2 class="ui header">Leaderboard</h2>
                <p>The top 25 users who have filled requests.</p>
                <table class="ui celled single line table">
                    <thead>
                        <tr>
                            <th data-sort-method="none"></th>
                            <th>Name</th>
                            <th data-sort-method="none"></th>
                            <th data-sort-method="number">Fills</th>
                            <th data-sort-method="number" data-sort-default="">Points</th>
                            <th data-sort-method="none"></th>
                            <th data-sort-method="number">Requests</th>
                            <th data-sort-method="number">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.users}}
                        <tr class="user">
                            <td class="collapsing"><img class="logo" src="https://cdn.discordapp.com/avatars/{{U.Snowflake}}/{{U.Avatar}}.jpeg"></td>
                            <td>{{U.RealName}}</td>
                            <td></td>
                            <td>{{Fills}}</td>
                            <td>{{PointsF}}</td>
                            <td></td>
                            <td>{{Requests}}</td>
                            <td>{{PointsR}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            table.table tbody tr td:nth-child(1) { padding: 0; }
            table.table tbody tr td:nth-child(1) img { display: block; max-height: 42px; margin: auto; }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js"></script>
        <script>
            (function() {
                $(document).ready(function() {
                    new Tablesort(document.querySelector("table"), {
                        descending: true,
                    })
                });
            })();
        </script>
    </body>
</html>
